.dinorpg a {
    color: #8e3e26;
    font-variant: small-caps;
    font-weight: bold;
}

.dinorpg a:hover {
	color : #fce3bc;
}

button:first-letter {
	color : white;
}

.button:hover {
	color : white;
	background-image : url("../assets/button/button_hover.png");
	background-color : transparent;
}

#dinozList {
	float: left;
    position: relative;
    padding-left: 60px;
    padding-top: 35px;
    padding-bottom: 10px;
    width: 145px;
}

#dinozList .iconMenu {
    width: 143px;
    height: 32px;
}

#dinozList .iconMenu a {
    display: block;
    background-repeat: no-repeat;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#dinozList .iconMenu a.iconor {
    margin-right: 5px;
    background-image: url("../assets/action/act_shop.png");
    width: 32px;
    height: 32px;
    float: left;
}

#dinozList .iconMenu a.iconor:hover {
	margin-right : 5px;
	background-image : url("../assets/action/act_shop2.png");
}

#dinozList .iconMenu a.iconboutik {
	margin-right : 5px;
	background-image : url("../assets/action/act_boutique.png");
	width : 32px;
	height : 32px;
	float : left;
}

#dinozList .iconMenu a.iconboutik:hover {
	background-image : url("../assets/action/act_boutique2.png");
}

#dinozList .iconMenu a.iconclan {
	margin-right : 5px;
	background-image : url("../assets/action/act_castle.png");
	width : 32px;
	height : 32px;
	float : left;
}

#dinozList .iconMenu a.iconclan:hover {
	background-image : url("../assets/action/act_castle2.png");
}

#dinozList .iconMenu a.icondojo {
	background-image : url("../assets/action/act_dojo.png");
	width : 32px;
	height : 32px;
	float : left;
}

#dinozList .iconMenu a.icondojo:hover {
	background-image : url("../assets/action/act_dojo2.png");
}

#dinozList span.money {
    display: block;
    width: 137px;
    height: 25px;
    margin-bottom: 34px;
    padding: 0px;
    padding-top: 6px;
    margin-left: -5px;
    text-align: center;
    font-size: 10pt;
    color: #ffee92;
    border: 0px;
    background-color: transparent;
    background-image: url("../assets/background/goldbox2.png");
    background-repeat: no-repeat;
    cursor: help;
}

#dinozList span.money img {
    vertical-align: -5%;
}

#dinozList ul {
    list-style: none;
    font-size: 0pt;
    line-height: 0pt;
    margin-bottom: 1px;
    padding: 2px;
    border: 1px solid #d69e68;
}

#dinozList ul li a {
    border: 1px solid #fbdca5;
    padding: 2px;
    display: block;
    font-size: 10pt;
    line-height: 11pt;
    text-decoration: none;
    -webkit-border-radius: 0px;
    cursor: pointer;
}

#dinozList ul li.light a {
	height : 25px;
}

#dinozList ul li.light a .icon {
	float : right;
}

#dinozList ul li.light a .icon .tinyBar {
	margin-top : 6px;
}

#dinozList ul li.light em {
	width : 150px;
	font-size : 7.5pt;
}

#dinozList ul li a em {
    font-variant: normal;
    font-weight: normal;
    color: #cf8a51;
    font-size: 8pt;
    line-height: 8pt;
}

#dinozList ul li a em, #dinozList ul li a span.name {
    display: block;
    float: left;
    position: relative;
    width: 87px;
}

#dinozList ul li a span.name {
    white-space: nowrap;
    overflow: hidden;
}

#dinozList ul li a .icon {
    position: relative;
    width: 40px;
    height: 10px;
    font-size: 0pt;
    line-height: 0pt;
}

#dinozList ul li.light a .icon {
    float: right;
}

#dinozList a.button {
    width: 135px;
}

#menu, #langs {
    position: absolute;
    z-index: 2;
    margin-left: 764px;
    margin-top: 90px;
    width: 95px;
    font-size: 8pt;
}

.newsSection .tid_module {
	color : white;
	font-size : 14px;
}

.newsSection .tid_module li {
	list-style : square;
}

.newsSection .tid_module a {
	color : #ffee92;
}

.section {
	height : 45px;
	margin-left : -15px;
	margin-bottom : 20px;
	background-image : url("/img/design/title_h1.gif");
	background-position : left bottom;
	background-repeat : no-repeat;
	margin-left : 5px;
}

.newsSection .tid_module .tid_safe_story {
	background-image : url("/img/design/bloc_news_twinoid.jpg");
	background-repeat : repeat-y;
	margin-bottom : 10px;
	margin-right : 10px;
	border : 1px solid #ffee92;
	outline : 1px solid #92471F;
	padding : 10px;
}

.newsSection .tid_module .tid_safe_story .tid_safe_content .tid_h2 {
	font-size : 110%;
	color : #FFEE92;
	text-transform : uppercase;
}

.newsSection .tid_module .tid_safe_story .tid_safe_content .tid_h3 {
	color : #FFEE92;
}

.light object, .light embed {
	display : none;
}

.dinoz {
    background-image: url("../assets/dinoz/dinoz_bg.jpg");
    background-repeat: no-repeat;
    min-height: 265px;
    margin-top: 5px;
}

.dinoz .left {
    position: absolute;
    margin-left: 205px;
    margin-top: 69px;
    background-image: url("../assets/icons/left.png");
    width: 15px;
    height: 21px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.dinoz .title {
    position: absolute;
    text-align: center;
    width: 232px;
    margin-left: 240px;
    margin-top: 67px;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1pt;
    color: #fce3bc;
    text-shadow: -1px -1px 0px #68361b, 1px 1px 0px #ddad8c;
}

.dinoz .right {
    position: absolute;
    margin-left: 490px;
    margin-top: 69px;
    background-image: url("../assets/icons/right.png");
    width: 15px;
    height: 21px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.dinoz .nameChoosen .avatar {
    position: absolute;
    margin-left: 5px;
    margin-top: 25px;
}

.dinoz .nameChoosen .level {
    position: absolute;
    margin-left: 8px;
    margin-top: 205px;
    font-weight: bold;
    text-align: center;
    font-size: 17pt;
    color: #faf1c5;
    text-shadow: -1px -2px 0px #581a10;
}

.dinoz .nameChoosen .level .over {
    cursor: help;
    position: absolute;
    width: 40px;
    letter-spacing: -2pt;
}

.dinoz .nameChoosen .infos {
    position: absolute;
    margin-left: 195px;
    margin-top: 212px;
}

.dinoz .nameChoosen .infos ul.elements {
    position: absolute;
    width: 230px;
    margin-top: 2px;
}

ul.elements {
    list-style: none;
    height: 23px;
}

ul.elements li {
    float: left;
    position: relative;
    width: 42px;
    height: 23px;
    margin-right: 2px;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    text-align: left;
    letter-spacing: -0.2pt;
    background-image: url("../assets/icons/element_bg.png");
    background-position: 7px 5px;
    background-repeat: no-repeat;
    cursor: help;
}

ul.elements li img {
    margin-right: -3px;
    vertical-align: -30%;
}

.swf {
    display: block;
    font-size: 0pt;
    line-height: 0pt;
}

input.button, a.button {
    display: block;
    width: 135px;
    height: 24px;
    margin-top: 3px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-top: 4px;
    font-variant: small-caps;
    font-size: 10pt;
    color: #fff1ad;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    background-image: url("../assets/button/button.png");
    background-repeat: no-repeat;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

span.tinyBar {
	display : block;
	height : 2px;
	width : 36px;
	border : 1px solid #bc683c;
	background-color : black;
}

span.tinyBar span {
	display : block;
	height : 2px;
	background-color : yellow;
}

span.tix, span.money {
    color: #58321d;
    font-weight: bold;
    font-size: 9pt;
}

a.linkHome {
    position: absolute;
    width: 500px;
    height: 80px;
    z-index: 10;
    margin-top: 25px;
    margin-left: 240px;
}

body #dinozList span.money {
    margin-top: 11px;
}

body table#layout {
    background-image: url("../assets/background/bg_ciel3.png");
    background-color: white;
    background-repeat: no-repeat;
}

body table#layout td#center {
    width: 900px;
    background-image: url("../assets/background/sky_core_bg.png");
    background-repeat: repeat-y;
    margin-top: 88px;
}

body table#layout td#center #centerHeader {
    padding: 1px;
    background-image: url("../assets/background/core_center_header3.png");
    background-repeat: no-repeat;
    min-height: 100vh;
}

body table#layout td#right div {
    height: 88px;
    background-image: url("../assets/background/core_right_header3.png");
    background-repeat: no-repeat;
    background-position: left top;
}

body .skyfootercore {
    background-image: url("../assets/background/core_center_footer.png");
    background-repeat: no-repeat;
    height: 151px;
}

body .skyfooterright {
    height: 151px;
    background-image: url("../assets/background/core_right_footer.png");
    background-repeat: no-repeat;
    background-position: left top;
}

table#layout {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    min-width: 920px;
}

table#layout td#center {
    width: 900px;
    background-position: left 378px;
}

table#layout td#center #centerHeader {
    padding: 1px;
    background-repeat: no-repeat;
    width: 100%;
}

table#layout td#center #centerContent {
    float: left;
    position: relative;
    margin-left: 20px;
    width: 530px;
    margin-top: 127px;
    padding-bottom: 50px;
    text-align: left;
    min-height: 600px;
}

table#layout td#right {
    background-image: url("../assets/background/core_right_bg.png");
    background-position: left 77px;
    background-repeat: repeat-y;
}

table#layout td#left, table#layout td#center, table#layout td#right {
    vertical-align: top;
}

div {
	display: block;
}

ul {
	display: block;
	list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
}

em {
	font-style: italic;
}

body, table, td, tr, th, li, ul, a, div, span, img, h1, h2, h3, p, pre, form, label, input, textarea, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

body, td {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 12pt;
    text-align: left;
    color: #52646b;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

a {
    color: #bc683c;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}