.dinorpg {
	a {
		color: #8e3e26;
	    font-variant: small-caps;
	    font-weight: bold;

	    &:hover {
	    	color : #fce3bc;
	    }
	}	
}

#dinozList {
	float: left;
    position: relative;
    padding-left: 60px;
    padding-top: 35px;
    padding-bottom: 10px;
    width: 145px;

    ul {
    	list-style: none;
	    font-size: 0pt;
	    line-height: 0pt;
	    margin-bottom: 1px;
	    padding: 2px;
	    border: 1px solid #d69e68;

	    li {
	    	a {
	    		border: 1px solid #fbdca5;
			    padding: 2px;
			    display: block;
			    font-size: 10pt;
			    line-height: 11pt;
			    text-decoration: none;
			    -webkit-border-radius: 0px;
			    cursor: pointer;

			    em {
			    	font-variant: normal;
				    font-weight: normal;
				    color: #cf8a51;
				    font-size: 8pt;
				    line-height: 8pt;
				    display: block;
				    float: left;
				    position: relative;
				    width: 87px;
			    }

			    span.name {
			    	display: block;
				    float: left;
				    position: relative;
				    width: 87px;
				    white-space: nowrap;
    				overflow: hidden;
			    }

			    .icon {
			    	position: relative;
				    width: 40px;
				    height: 10px;
				    font-size: 0pt;
				    line-height: 0pt;
			    }
	    	}

	    	&.light {
	    		a {
	    			height : 25px;

	    			.icon {
	    				float : right;

	    				.tinyBar {
	    					margin-top : 6px;
	    				}
	    			}
	    		}

	    		em {
	    			width : 150px;
					font-size : 7.5pt;
	    		}
	    	}
	    }
    }

    a.button {
    	width: 135px;
    }

    span.money {
		display: block;
	    width: 137px;
	    height: 25px;
	    margin-bottom: 34px;
	    padding: 0px;
	    padding-top: 6px;
	    margin-left: -5px;
	    text-align: center;
	    font-size: 10pt;
	    color: #ffee92;
	    border: 0px;
	    background-color: transparent;
	    background-image: url("assets/background/goldbox2.png");
	    background-repeat: no-repeat;
	    cursor: help;

	    img {
	    	vertical-align: -5%;
	    }
	}

    .iconMenu {
    	width: 143px;
    	height: 32px;

    	a {
    		display: block;
		    background-repeat: no-repeat;
		    border-radius: 0px;
		    -moz-border-radius: 0px;
		    -webkit-border-radius: 0px;

		    &.iconor {
		    	margin-right: 5px;
			    background-image: url("assets/action/act_shop.png");
			    width: 32px;
			    height: 32px;
			    float: left;

			    &:hover {
					background-image : url("assets/action/act_shop2.png");
			    }
		    }

		    &.iconboutik {
		    	margin-right : 5px;
				background-image : url("assets/action/act_boutique.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("assets/action/act_boutique2.png");
			    }
		    }

		    &.iconclan {
		    	margin-right : 5px;
				background-image : url("assets/action/act_castle.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("assets/action/act_castle2.png");
			    }
		    }

		    &.icondojo {
		    	background-image : url("assets/action/act_dojo.png");
				width : 32px;
				height : 32px;
				float : left;

				&:hover {
					background-image : url("assets/action/act_dojo2.png");
				}
		    }
    	}
    }
}

#menu {
	position: absolute;
    z-index: 2;
    margin-left: 764px;
    margin-top: 90px;
    width: 95px;
    font-size: 8pt;
}

#langs {
	position: absolute;
    z-index: 2;
    margin-left: 764px;
    margin-top: 90px;
    width: 95px;
    font-size: 8pt;
}

.newsSection {

	.tid_module {
		color : white;
		font-size : 14px;

		li {
			list-style : square;
		}

		a {
			color : #ffee92;
		}

		.tid_safe_story {
			// background-image : url("/img/design/bloc_news_twinoid.jpg");
			background-repeat : repeat-y;
			margin-bottom : 10px;
			margin-right : 10px;
			border : 1px solid #ffee92;
			outline : 1px solid #92471F;
			padding : 10px;

			.tid_safe_content {
				.tid_h2 {
					font-size : 110%;
					color : #FFEE92;
					text-transform : uppercase;
				}

				.tid_h3 {
					color : #FFEE92;
				}
			}
		}
	}
}

.section {
	height : 45px;
	margin-left : -15px;
	margin-bottom : 20px;
	// background-image : url("/img/design/title_h1.gif");
	background-position : left bottom;
	background-repeat : no-repeat;
	margin-left : 5px;
}

.light {
	object {
		display: none;
	}

	embed {
		display: none;
	}
}

.dinoz {
	background-image: url("assets/dinoz/dinoz_bg.jpg");
    background-repeat: no-repeat;
    min-height: 265px;
    margin-top: 5px;

    .left {
    	position: absolute;
	    margin-left: 205px;
	    margin-top: 69px;
	    background-image: url("assets/icons/left.png");
	    width: 15px;
	    height: 21px;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
    }

    .title {
    	position: absolute;
	    text-align: center;
	    width: 232px;
	    margin-left: 240px;
	    margin-top: 67px;
	    font-size: 15pt;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1pt;
	    color: #fce3bc;
	    text-shadow: -1px -1px 0px #68361b, 1px 1px 0px #ddad8c;
    }

    .right {
    	position: absolute;
	    margin-left: 490px;
	    margin-top: 69px;
	    background-image: url("assets/icons/right.png");
	    width: 15px;
	    height: 21px;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
    }

    .avatar {
    	position: absolute;
	    margin-left: 5px;
	    margin-top: 25px;
    }

    .level {
    	position: absolute;
	    margin-left: 8px;
	    margin-top: 205px;
	    font-weight: bold;
	    text-align: center;
	    font-size: 17pt;
	    color: #faf1c5;
	    text-shadow: -1px -2px 0px #581a10;

	    .over {
	    	cursor: help;
		    position: absolute;
		    width: 40px;
		    letter-spacing: -2pt;
	    }
    }

    .infos {
    	position: absolute;
	    margin-left: 195px;
	    margin-top: 212px;

	    ul.elements {
	    	position: absolute;
		    width: 230px;
		    margin-top: 2px;
	    }
    }
}

.swf {
	display: block;
    font-size: 0pt;
    line-height: 0pt;
}

ul {
	display: block;
	list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

	&.elements {
		list-style: none;
    	height: 23px;

    	li {
    		float: left;
		    position: relative;
		    width: 42px;
		    height: 23px;
		    margin-right: 2px;
		    font-size: 10pt;
		    font-weight: bold;
		    color: white;
		    text-align: left;
		    letter-spacing: -0.2pt;
		    background-image: url("assets/icons/element_bg.png");
		    background-position: 7px 5px;
		    background-repeat: no-repeat;
		    cursor: help;

		    img {
		    	margin-right: -3px;
   				vertical-align: -30%;
		    }
    	}
	}
}

button {
	&:first-letter {
		color : white;
	}

	&:hover {
		color : white;
		background-image : url("assets/button/button_hover.png");
		background-color : transparent;
	}
}

input, a {
	&.button {
		display: block;
	    width: 135px;
	    height: 24px;
	    margin-top: 3px;
	    margin-bottom: 2px;
	    padding-left: 10px;
	    padding-top: 4px;
	    font-variant: small-caps;
	    font-size: 10pt;
	    color: #fff1ad;
	    font-weight: bold;
	    text-decoration: none;
	    text-align: left;
	    cursor: pointer;
	    background-image: url("assets/button/button.png");
	    background-repeat: no-repeat;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	}
}

span {
	&.tinyBar {
		display : block;
		height : 2px;
		width : 36px;
		border : 1px solid #bc683c;
		background-color : black;

		span {
			display : block;
			height : 2px;
			background-color : yellow;
		}
	}

	&.tix, &.money {
		color: #58321d;
	    font-weight: bold;
	    font-size: 9pt;
	}
}

a.linkHome {
    position: absolute;
    width: 500px;
    height: 80px;
    z-index: 10;
    margin-top: 25px;
    margin-left: 240px;
}

body {
	table#layout {
		background-image: url("assets/background/bg_ciel3.png");
	    background-color: white;
	    background-repeat: no-repeat;

	    td#center {
	    	width: 900px;
		    background-image: url("assets/background/sky_core_bg.png");
		    background-repeat: repeat-y;
		    margin-top: 88px;

		    #centerHeader {
		    	padding: 1px;
			    background-image: url("assets/background/core_center_header3.png");
			    background-repeat: no-repeat;
			    min-height: 100vh;
		    }
	    }

	    td#right {
	    	div {
	    		height: 88px;
			    background-image: url("assets/background/core_right_header3.png");
			    background-repeat: no-repeat;
			    background-position: left top;
	    	}
	    }
	}

	.skyfootercore {
		background-image: url("assets/background/core_center_footer.png");
	    background-repeat: no-repeat;
	    height: 151px;
	}

	.skyfooterright {
		height: 151px;
	    background-image: url("assets/background/core_right_footer.png");
	    background-repeat: no-repeat;
	    background-position: left top;
	}

	#dinozList {
		span.money {
			margin-top: 11px;
		}
	}
}

table {
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;

	&#layout {
		border-collapse: collapse;
	    border-spacing: 0px;
	    width: 100%;
	    min-width: 920px;

	    td#left {
	    	vertical-align: top;
	    }

	    td#center {
	    	width: 900px;
    		background-position: left 378px;
    		vertical-align: top;

    		#centerHeader {
    			padding: 1px;
			    background-repeat: no-repeat;
			    width: 100%;
    		}

    		#centerContent {
    			float: left;
			    position: relative;
			    margin-left: 20px;
			    width: 530px;
			    margin-top: 127px;
			    padding-bottom: 50px;
			    text-align: left;
			    min-height: 600px;
    		}
	    }

	    td#right {
	    	background-image: url("assets/background/core_right_bg.png");
		    background-position: left 77px;
		    background-repeat: repeat-y;
		    vertical-align: top;
	    }
	}
}

a {
    color: #bc683c;

    &:-webkit-any-link {
	    color: -webkit-link;
	    cursor: pointer;
	    text-decoration: underline;
	}
}

div {
	display: block;
}

li {
	display: list-item;
    text-align: -webkit-match-parent;
}

em {
	font-style: italic;
}

body, table, td, tr, th, li, ul, a, div, span, img, h1, h2, h3, p, pre, form, label, input, textarea, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

body, td {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 12pt;
    text-align: left;
    color: #52646b;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}