MAIL_HOST=xxx
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=xxx
MAIL_PASSWORD="xxx"
ETERNALTWIN_CHANNEL="dev"

# SERVER
PORT=8081
SELF_URL="http://localhost:8080/"
USE_HTTPS=false

# JWT
SECRETKEY="6d927010-33ef-418b-9630-2faed53cbe5e"
EXPIRATION="2592000"

# ETWIN
ETWIN_URL="http://localhost:50320/"
ETWIN_CLIENT_ID="dinorpg@clients"
ETWIN_CLIENT_SECRET="dev_secret"

# ADMIN
ADMIN="eb989f16-94a4-47ab-a4bb-151c3f529fac"

# DISCORD NOTIFICATION
# DISCORD_WEBHOOK_ID="xxx"
# DISCORD_WEBHOOK_TOKEN="xxx"

# DISCORD LOGS
# DISCORD_LOGS_WEBHOOK_ID="xxx"
# DISCORD_LOGS_WEBHOOK_TOKEN="xxx"


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dinorpg?schema=public"
