[general]
eternalTwinPublicUri = 'http://localhost:50320/'
eternalTwinServerUri = 'http://drpg_eternal_twin:50320/'
serverUri = 'http://localhost:8081/'
frontUri = 'http://localhost:8080/'

[oauth]
clientId = 'dinorpg@clients'
clientSecret = 'dev_secret'
authorizationUri = 'oauth/authorize'
tokenUri = 'oauth/token'
callbackUri = 'authentication'

[db]
host = 'drpg_database'
user = 'etwin.dev.write'
password = 'EternalDinoSQL'
dbName = 'eternaldinodb'

[jwt]
secretKey = '6d927010-33ef-418b-9630-2faed53cbe5e'
expiration = 2592000

[shop]
dinozInShop = 15
buyableQuetzu = 6

[player]
initialMoney = 200000

[admin]
biocat = '283c25c6-e8ea-401d-a152-b5dbf521eddf' # Replace by your etwinID and username
jahaa = '8e429bed-d99c-40d6-b018-b8f82aff1e60'
jolu = '8e429bed-d99c-40d6-b018-b8f82aff1e60'