[general]
eternalTwinPublicUri = 'http://localhost:50320/'
eternalTwinServerUri = 'http://drpg_eternal_twin:50320/'
serverUri = 'http://localhost:8081/'
frontUri = 'http://localhost:8080/'

[oauth]
clientId = 'dinorpg@clients'
clientSecret = 'dev_secret'
authorizationUri = 'oauth/authorize'
tokenUri = 'oauth/token'
callbackUri = 'authentication'

[db]
host = 'drpg_database'
user = 'etwin.dev.write'
password = 'EternalDinoSQL'
dbName = 'eternaldinodb'

[jwt]
secretKey = '6d927010-33ef-418b-9630-2faed53cbe5e'

[shop]
dinozInShop = 4
buyableQuetzu = 6

[player]
initialMoney = 200000