<div id="centerContent">

	<div v-if="nameChoosen === false">
		<choose-dinoz-name
			:dinozData="dinozData"
			@setNameChoosen="setNameChoosen"
		></choose-dinoz-name>
	</div>

	<div class="dinoz" v-if="nameChoosen === true">
		<a class="left"></a>
		<div class="title">{{ dinozData.name }}</div>
		<a class="right"></a>
		<div class="avatar">
			<dinozSWF
				:display="dinozData.display"
				:width="190"
				:height="165"
				type="dino"
			></dinozSWF>
		</div>
		<div class="level">
			<div class="over">{{ dinozData.level }}</div>
		</div>
		<div class="infos">
			<elements
				:fire="dinozData.nbrUpFire"
				:wood="dinozData.nbrUpWood"
				:water="dinozData.nbrUpWater"
				:light="dinozData.nbrUpLight"
				:air="dinozData.nbrUpAir"
			></elements>
		</div>
		<div class="bars">
			<div class="life">
				<div class="bar">
					<img src="@/assets/bar/bar_life.png" :style="getBarSize(dinozData.life, dinozData.maxLife)">
				</div>
			</div>
			<div class="lifetext">{{ dinozData.life }} / {{ dinozData.maxLife }}</div>
			<div class="xp">
				<div class="bar">
					<img src="@/assets/bar/bar_xp.png" :style="getBarSize(dinozData.experience, dinozData.maxExperience)">
				</div>
			</div>
			<div class="xptext">{{ dinozData.experience }} / {{ dinozData.maxExperience }}</div>
		</div>
		<div class="equip" id="equip">
			<ul>
				<li v-for="(item, index) in dinozData.item" :key="index">
					<a href="#" class="icon">
						<img :src="getImg('item', 'item_', item.name)" :alt="item.name">
					</a>
				</li>
			</ul>
		</div>
		<div class="fx">
			<img
				:src="getImg('status', status.name)"
				v-for="(status, index) in dinozData.status"
				:key="index"
			/>
		</div>
	</div>

	<div class="dinozPanels" v-if="nameChoosen === true">
		<div class="actions" id="dinozActions">
			<ul>
				<table class="action" v-for="action in dinozData.actions" :key="action.name" :id="action.imgName">
					<tbody>
						<tr>
							<td class="icon"><img :src="getImg('icons', '', action.imgName)"></td>
							<td class="label">{{ $t(`action.${action.name}`) }}</td>
						</tr>
					</tbody>
				</table>
			</ul>
		</div>

		<div class="custom" id="dinozPanel">
			<ul class="tabs">
				<li :class="(tabSelected === 1) ? 'active' : ''">
					<a href="#" @click="setTab(1)">{{ $t('tabs.map') }}</a>
				</li>
				<li :class="(tabSelected === 2) ? 'active' : ''">
					<a href="#" @click="setTab(2)">{{ $t('tabs.inventory') }}</a>
				</li>
				<li :class="(tabSelected === 3) ? 'active' : ''">
					<a href="#" @click="setTab(3)" >{{ $t('tabs.details') }}</a>
				</li>
			</ul>
			<div id="map" class="map" v-if="tabSelected === 1">
				<th>Map!</th>
			</div>
			<div id="inventory" class="inventory" v-if="tabSelected === 2">
				<table>
					<tbody>
						<tr>
							<th>{{ $t('inventory.itemName') }}</th>
							<th>{{ $t('inventory.stock') }}</th>
							<th>{{ $t('inventory.actions') }}</th>
						</tr>
						<tr v-for="(item, index) in allItemsData" :class="( (index % 2) === 1 ) ? 'even' : ''" :key="index">
							<td class="name">
								<img :src="getImg('item', 'item_', item.name)">
								{{ $t(`item.name.${item.name}`) }}
							</td>
							<td class="qty">{{ item.quantity }}</td>
							<td class="act">
								<a id="inv_TODO_use" v-if="item.canBeUsedNow">
									<img :src="getImg('icons','small_','use')">
								</a>
								<img :src="getImg('icons','small_','use_off')" v-else>
								<a id="inv" v-if="item.canBeEquipped">
									<img :src="getImg('icons','small_','equip')">
								</a>
								<img :src="getImg('icons','small_','equip_off')" v-else>
							</td>
						</tr>
					</tbody>
				</table>
				<a class="button" @click="goToItemShop()">{{ $t(`button.shop`) }}</a>
			</div>
			<div id="details" class="details" v-if="tabSelected === 3">
				<th>Details!</th>
			</div>	
		</div>

		<div class="clear"></div>
		<div class="footer"></div>
	</div>
</div>